{% extends "base.html" %}


{% block body %}
<h1>Cart</h1>
{% if carts.products.exists %}
<table class="table cart-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Product Price</th>
    </tr>
  </thead>
  <tbody class='cart-body'>
    {% for product in carts.products.all %}
    <tr class='cart-product'>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a> 


        {% include 'carts/snippets/remove-product.html' with product_id=product.id %}
      </td>
      <td>${{ product.price }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal</b> $<span class='cart-subtotal'> {{ carts.subtotal }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total before shipping (with 8% tax)</b> $<span class='cart-total'> {{ carts.total }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><a class='btn btn-lg btn-success' href='{% url "carts:checkout" %}'>Checkout </td>
    </tr>
  </tbody>
</table>

<div class='cart-item-remove-form' style='display:none'>

    {% include 'carts/snippets/remove-product.html' %}
  </div>

{% else %}
<p class='lead'>Cart is empty</p>
{% endif %}

{% endblock %}

