{% extends 'base.html' %}



{% block body %}
<h1>This is Product page</h1>
<h3>Product Listing</h3>
    <div class="d-flex align-items-stretch">
    {% for obj in object_list %}
        <div class='col'>
        {{ forloop.counter }}.
            {% include 'products/snippets/card.html' with instance=obj %}

             {% if forloop.counter|divisibleby:3  %}
            </div></div><div class='row'><div class='col-12'><hr/></div>
            {% comment %} {% elif forloop.counter|divisibleby:3  %}
            </div></div><div class='row'><div class='col-12'><hr/></div> {% endcomment %}
            {% else %}
            </div>
            {% endif %}  
        {% endfor %}
    </div>
{% endblock %}


